{% extends "base.html" %}

{% block title %}Agencia de Vuelos{% endblock %}

{% block content%}
    <center>
        <h1 style="margin-top: 10%;">Carrito de {{current_user.nombre}}</h1>
        <div style="margin-left: 10%;margin-right: 10%;">
            <table class="table bg-dark text-white" >
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">ID Vuelo</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                {%for or in filas%}
                    <tbody>
                    <tr>
                        <th scope="row">{{or[0]}}</th>
                        <td>{{or[1]}}</td>
                        <td>{{or[2]}}</td>
                    </tr>
                    </tbody>
                {%endfor%}
            </table>
        </div>
    </center>
{% endblock %}