{% extends "admin.html" %}

{% block title %}Actualizar Itinerario{% endblock %}

{% block content%}
    <center>
        <h1>Actualizar Itinerario</h1>
        {%if mensaje %}<h3>{{mensaje}}</h3>{%endif%}
        {%include "errores.html"%}
        <form action="{{url_for('privado.actualizar_itinerario')}}" method="POST">
            <div class="form-group col-md-6">
                <label for="cod_iti_act">CODIGO ITINERARIO</label>
                <input type="text" class="form-control" name="cod_iti_act" placeholder="ingrese codigo de itinerario" value="{{ request.args.get('cod_iti_act') }}" {% if itinerario %} readonly {% endif %}>
            </div>
            {% if itinerario %}
                <div class="form-group col-md-6">
                    <label for="fecha_salida">FECHA SALIDA</label>
                    <input type="date" class="form-control" name="fecha_salida" value="{{ itinerario.fecha_salida }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="horaS">HORA SALIDA</label>
                    <input type="time" class="form-control" name="horaS" value="{{ itinerario.hora_salida }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="fecha_llegada">FECHA LLEGADA</label>
                    <input type="date" class="form-control" name="fecha_llegada" value="{{ itinerario.fecha_llegada }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="horaL">HORA LLEGADA</label>
                    <input type="time" class="form-control" name="horaL" value="{{ itinerario.hora_llegada }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="cod_origen_iL">COD ORIGEN</label>
                    <input type="text" class="form-control" name="cod_origen_iL" value="{{ itinerario.cod_origen }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="cod_d_iL">COD DESTINO</label>
                    <input type="text" class="form-control" name="cod_d_iL" value="{{ itinerario.cod_destino }}">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            {% endif %}
        </form>
    </center>
{%endblock%}