{% extends "admin.html" %}

{% block title %}Itinerario{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Menu Itinerario</h1>
    <div style="text-align: center;">
        <a href="{{ url_for('privado.ingresar_itinerario') }}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ingresar Itinerario</a>
       </div>
    <h3 style="text-align: center; margin-top: 5%;">Itinerarios Registrados</h3>
    <table class="table bg-dark text-white">
        <thead>
            <tr>
                <th scope="col">ID Itinerario</th>
                <th scope="col">Fecha Vuelo</th>
                <th scope="col">Hora Salida</th>
                <th scope="col">Hora Llegada</th>
                <th scope="col">ID Origen</th>
                <th scope="col">ID Destino</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        {% for or in filas %}
            <tbody>
                <tr>
                    <th scope="row">{{ or[0] }}</th>
                    <td>{{ or[1] }}</td>
                    <td>{{ or[2] }}</td>
                    <td>{{ or[3] }}</td>
                    <td>{{ or[4] }}</td>
                    <td>{{ or[5] }}</td>
                    <td>
                        <a href="{{ url_for('privado.actualizar_itinerario', cod_iti_act=or[0]) }}" class="btn btn-sm btn-warning">Actualizar</a>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmDeleteModal{{ or[0] }}">Eliminar</button>

                        <div class="modal fade" id="confirmDeleteModal{{ or[0] }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que quieres eliminar este itinerario?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <form method="POST" action="{{ url_for('privado.eliminar_itinerario') }}" style="display: inline;">
                                            <input type="hidden" name="cod_iti_act" value="{{ or[0] }}">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}