
{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<head><!-- CSS de intl-tel-input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
    
    <!-- JavaScript de intl-tel-input -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    </head>
<h1>Registro</h1>
{% if mensaje == 'CLIENTE INGRESADO CORRECTAMENTE' %}
    <div class="alert alert-success">
        {{ mensaje }}
    </div>
{% elif mensaje %}
    <div class="alert alert-warning">
        {{ mensaje }}
    </div>

    {% else %}
    <div >
        {{ mensaje }}
{% endif %}



       
        {% if redireccionar %}
        <h3 class="text-primary">Serás redirigido en <span id="countdown">5</span> segundos...</h3>
        <script>
            let timeLeft = 5; // Tiempo inicial en segundos
            const countdownElement = document.getElementById("countdown");
    
            function updateCountdown() {
                if (timeLeft > 0) {
                    timeLeft--;
                    countdownElement.textContent = timeLeft; // Actualiza el número en pantalla
                }
                if (timeLeft === 0) {
                    window.location.href = "{{ url_for('home') }}"; // Redirige cuando llegue a 0
                }
            }
    
            setInterval(updateCountdown, 1000); // Ejecuta cada segundo
        </script>
    {% endif %}
    
       
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">

<form action="{{ url_for('privado.registrar2') }}" method="POST">
    <div class="row g-3">
        <div class="form-group col-md-6">
            <label for="rut">RUT</label>
            <input type="text" class="form-control" name="rut" id="rut" placeholder="Ingrese Rut" required>
            <input type="hidden" id="rut_sin_formato" name="rut_sin_formato">
        </div>
        <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="Ingrese Nombre" required>
        </div>
        <div class="form-group col-md-6">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" placeholder="Ingrese apellido" required>
        </div>
        <div class="form-group col-md-6">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" name="correo" placeholder="Ingrese Correo" required>
        </div>
        <div class="form-group col-md-6">
            <label for="fecha_nac">Fecha Nacimiento</label>
            <input type="date" class="form-control" name="fecha_nac" placeholder="Ingrese Fecha Nacimiento" required>
        </div>
        <div class="form-group col-md-6">
            <label for="region">REGION</label>
            <select class="form-control" name="region" id="region" required>
                <option value="">Seleccione una Región</option>
                <option value="Arica y Parinacota">Arica y Parinacota</option>
                <option value="Tarapacá">Tarapacá</option>
                <option value="Antofagasta">Antofagasta</option>
                <option value="Atacama">Atacama</option>
                <option value="Coquimbo">Coquimbo</option>
                <option value="Valparaíso">Valparaíso</option>
                <option value="O'Higgins">O'Higgins</option>
                <option value="Maule">Maule</option>
                <option value="Ñuble">Ñuble</option>
                <option value="Biobío">Biobío</option>
                <option value="La Araucanía">La Araucanía</option>
                <option value="Los Ríos">Los Ríos</option>
                <option value="Los Lagos">Los Lagos</option>
                <option value="Aysén">Aysén</option>
                <option value="Magallanes y de la Antártica Chilena">Magallanes y de la Antártica Chilena</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="comuna">COMUNA</label>
            <select class="form-control" name="comuna" id="comuna" required>
                <option value="">Seleccione una comuna</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="calle">CALLE</label>
            <input type="text" class="form-control" name="calle" placeholder="Ingrese Calle" required>
        </div>
        <div class="form-group col-md-6">
            <label for="numero">NUMERO</label>
            <input type="number" class="form-control" name="numero" placeholder="Ingrese Calle" required>
        </div>
        <div class="form-group col-md-6">
            <label for="telefono">Telefono</label>
            <input type="number"  id="telefono" class="form-control" name="telefono" placeholder="Ingrese Telefono" required>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary w-100">Registrar</button>
        </div>
    </div>
    
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script> 
<script>
    
    var input = document.querySelector("#telefono");
    window.intlTelInput(input, {
        initialCountry: "cl", // Chile como país por defecto
        separateDialCode: true, // Muestra el código +56 separado
        preferredCountries: ["cl"], // Chile como país preferido
    });
</script>

<script>
    // Definir las comunas para cada región
    const regionesComunas = {
        "Arica y Parinacota": ["Arica", "Camarones", "Putre"],
        "Tarapacá": ["Iquique", "Alto Hospicio", "Pica"],
        "Antofagasta": ["Antofagasta", "Mejillones", "Taltal"],
        "Atacama": ["Copiapó", "Vallenar", "Freirina"],
        "Coquimbo": ["La Serena", "Coquimbo", "Andacollo"],
        "Valparaíso": ["Valparaíso", "Viña del Mar", "Concón"],
        "O'Higgins": ["Rancagua", "Machalí", "San Fernando"],
        "Maule": ["Talca", "Curicó", "Linares"],
        "Ñuble": ["Chillán", "Yungay", "Quirihue"],
        "Biobío": ["Concepción", "Chillán", "Los Ángeles"],
        "La Araucanía": ["Temuco", "Villarrica", "Pucón"],
        "Los Ríos": ["Valdivia", "La Unión", "Río Bueno"],
        "Los Lagos": ["Puerto Montt", "Osorno", "Puerto Varas"],
        "Aysén": ["Coyhaique", "Chile Chico", "Puerto Aysén"],
        "Magallanes y de la Antártica Chilena": ["Punta Arenas", "Puerto Natales", "Porvenir"]
    };

    // Obtener los elementos del select de región y comuna
    const regionSelect = document.getElementById('region');
    const comunaSelect = document.getElementById('comuna');

    // Función para actualizar las opciones de comuna según la región seleccionada
    regionSelect.addEventListener('change', function() {
        const selectedRegion = this.value;
        const comunas = regionesComunas[selectedRegion] || [];

        // Limpiar las opciones actuales del select de comunas
        comunaSelect.innerHTML = '<option value="">Seleccione una Comuna</option>';

        // Agregar las opciones correspondientes a la comuna
        comunas.forEach(comuna => {
            const option = document.createElement('option');
            option.value = comuna;
            option.textContent = comuna;
            comunaSelect.appendChild(option);
        });
    });
</script>
{% endblock %}

